body {
    font-size: 11px;
    margin: 0px;
    padding: 0px;
    font-family: Arial,Sans-Serif;
}

.gwt-HorizontalSplitPanel {
}

.gwt-HorizontalSplitPanel .hsplitter {
    cursor: move;
    border: 0px; 
    background: #91c0ef url(images/vborder.png) repeat-x;
}
.gwt-VerticalSplitPanel {
}

.gwt-VerticalSplitPanel .vsplitter {
    cursor: move;
    border: 0px; 
    background: #91c0ef url(images/hborder.png) repeat-x;
}

.midpanel-SelectedRow td {
  border-bottom: 1px solid #33A;
  border-top: 1px solid #33A;
}

.rightpanel-cellcornerformat {
  border: 1px solid #33A;
  background-color: #CCf;
}

.rightpanel-celltitleformat {
  background-color: #CCf;
  border-top: 1px solid #33A;
  border-bottom: 1px solid #33A;
  border-right: 1px solid #33A;
}

.rightpanel-cellleftformat {
  border-bottom: 1px solid #33A;
  border-right: 1px solid #33A;
  border-left: 1px solid #33A;
  background-color: #DDf;
}

.rightpanel-cellformat {
  border-bottom: 1px solid #33A;
  border-right: 1px solid #33A;
  background-color: #EEf;
}

.midpanel-SelectedRow {
  background-color: #CCf;
}


.gwt-TabPanel {
}

.gwt-TabPanelBottom {
  border-left: 1px solid #87B3FF;
}

.gwt-TabBar {
  background-color: #C3D9FF;
  font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {
  height: 100%;
  border-bottom: 1px solid #87B3FF;
  padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
  border-bottom: 1px solid #87B3FF;
  padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
  border-top: 1px solid #C3D9FF;
  border-bottom: 1px solid #87B3FF;
  padding: 2px;
  cursor: pointer;
  cursor: hand;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  font-weight: bold;
  background-color: #E8EEF7;
  border-top: 1px solid #87B3FF;
  border-left: 1px solid #87B3FF;
  border-right: 1px solid #87B3FF;
  border-bottom: 1px solid #E8EEF7;
  padding: 2px;
  cursor: default;
}

.gwt-DialogBox {
    sborder: 8px solid #C3D9FF;
    border: 2px outset;
    background-color: white; 
}        

.gwt-DialogBox .Caption {
    background-color: #C3D9FF;
    padding: 3px; 
    margin: 2px;
    font-weight: bold;
    cursor: default;
}

.gwt-DialogBox .Close {
    cursor: pointer;
}


.gwt-DialogBox .Header {
    background-color: #C3D9FF;
    cursor: default;
}

.rightpanel-title {
    background-color: #C3D9FF;
  border-top: 1px solid #87B3FF;
  border-left: 1px solid #87B3FF;
  border-right: 1px solid #87B3FF;
  border-bottom: 1px solid #E8EEF7;
  padding: 2px;
  font-weight: bold;
  cursor: default;
}

.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
    font-size: smaller;
}

.gwt-Tree .gwt-TreeItem-selected {
    background-color: #C3D9FF;
}

.cross-square-block {
  border: 1px solid #000000;
  background-color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  width: 14px;
  height: 20px;
  font-weight: bold;
}

.cross-square {
  border: 1px solid #000000;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  width: 14px;
  height: 20px;
  font-weight: bold;
}

.cross-square-word-select {
  background-color: #80ff80;
}

.cross-square-word-cursor {
  background-color: #60c060;
}

.cross-square-word-error {
  background-color: #c06060;
}

.crossword {
 padding: 0px;
 margin: 0px;
 border-collapse: collapse;
 border-spacing: 0px;
 border: 0px;
}

.clue-popup {
  background-color: white;
  border: 1px solid #87B3FF;
  padding: 4px;
  font-size: large;
  text-align: center;
}

.sudoku-cell {
    border: 1px solid #000000;
    width: 30px;
    height: 30px;
}

.custom-dialog, .about{
  background-color: #bdbdbd;
  border: 2px solid;
  border-color: #ddd #7b7b7b #7b7b7b #ddd;
}
.custom-dialog .Caption {
  background-color: #cfcfcf;
  cursor: default;
  padding: 4px 10px;
  margin: 1px;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}
.custom-dialog td {
  text-align: right;
}
.custom-dialog .contents {
  padding: 20px 40px;
}
.custom-dialog .contents table {
 width: 100%;
}
.custom-dialog .gwt-Label {
  text-align: left;
}
.custom-dialog .gwt-TextBox {
  width: 30px;
}
.about .contents {
  padding: 20px;
}
a:link {color:#00f;}
a:visited {color:#00f;}
a:hover {color:#00f;}
a:active {color:#00f;}
.about .contents .comments {
  color: #555;
}

.gwt-MenuBar-horizontal {
  border: 2px solid;
  background-color: #bdffbd;
  border-color: #7b7b7b #fff #fff #7b7b7b;
}
.gwt-MenuBar-vertical {
  background-color: #bdbdbd;
  border: 1px solid;
  border-color: #ddd #7b7b7b #7b7b7b #ddd;
  text-align: left;
}
.gwt-MenuItem {
  text-shadow: 0px 1px 0px #ddd;
  padding: 1px 4px 1px 4px;
  cursor: default;
  line-height: 1.3em;
}
.gwt-MenuItem-selected {
  background-color: #cfcfcf;
}
.gwt-MenuBar-vertical .gwt-MenuItem {
  padding-left: 15px;
}

.TooltipPopup {
    background-color: #00FFCC;
    border: 1px solid #000000;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 2px 4px 2px 4px;
    font-family: arial,sans-serif;
    font-size: 14px;
}


